@font-face {
    font-family: Miratrix;
    src: url('/fonts/Miratrix-Normal.otf') format("opentype");
}
@font-face {
    font-family: Musticapro;
    src: url('/fonts/MusticaproSemibold.otf') format("opentype");
}

body {
    font-family: 'Miratrix';
    color: #000;
    margin: 0px;
    padding: 0px;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 400;
    font-size: 66px;
    color: #000;
}

.brdr {
    border: 1px solid #FF3366;
}

.hr-bold {
    background-color: #000;
    height: 15px;
}

/* subtitles */
.subtitle {
    height: 100px;
    border: 6px solid #000;
    text-align: end;
    padding-right: 60px;
}

.subtitle-white {
    background-color: #FFF;
}
.subtitle-gray {
    background-color: #FFF;
}

/* header */
.header {
    margin-bottom: 50px;
    height: 721px;
}
.header__img {
    height: 721px;
}
.header__right-col {
    height: 721px;
    padding-left: 36px;
}
.portrait {
    margin-left: 36px;
}
.portrait__img {
    height: 450px;
}

.menu {
}

.menu a {
    text-decoration: none;
}

.menu__list {
    margin-bottom: 24px;
}

.menu__item {
    margin-right: 0px;
    margin-top: 24px;
    font-size: 24px;
    font-weight: 300;
    line-height: 100%;
    color: #000;
}

/* section profile */
.section-profile {
    background-color: #C4C4C4;
}
.profile {
    height: 260px;
}

.profile__description {
    width: 100%;
    height: 204px;
    font-family: 'Musticapro';
    color: #000;
    font-size: 24px;
    line-height: 100%;
    border: 6px solid #000;
    margin-top: 27px;
}

.profile__text {
    max-width: 470px;
    margin: 49px 65px auto auto;
}


/* footer */

.footer {
    height: 110px;
    padding: 0 20px;
}

